* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .ecoded_container{
        position: relative;
        width: 350px;
        height: 300px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.267);
        border: 1px solid grey;
        --mouse-x: 50%;
        --mouse-y: 50%;
        --spotlight-color: rgba(255, 255, 255, 0.548);
        overflow: hidden;
        transition: 0.3s;
        padding: 20px;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
            opacity: 0;
            transition: opacity 0.5s ease;
            pointer-events: none;
            filter: blur(10px);
        }
        &:hover::before,
        &:focus-within::before {
            opacity: 0.3;
        }
        &:hover p{
            transform: rotateY(180deg) rotateX(180deg);
            background-color: rgb(0, 0, 0);
        }
        &:hover p::before{
            opacity: 1;
        }
        p {
            font-size: 25px;
            line-height: 37px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            transition: 0.7s;
            position: relative;
            background-color: white;
            border-radius: 20px;
            transition: 0.7s;
            &::before {
                content: "Hellow for everyone";
                width: 100%;
                font-size: 25px;
                line-height: 37px;
                color: white;
                position: absolute;
                transform: translate(-50%, -50%) rotate(180deg);
                top: 50%;
                left: 50%;
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }
        }
    }
}